<p-card styleClass="justify-content-center">
  <form class="flex flex-column justify-content-end" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="pi pi-envelope"></i>
      </span>
      <input type="text" pInputText formControlName="email" placeholder="Email">         
    </div>
    <div class="p-inputgroup mt-2">
      <span class="p-inputgroup-addon">
        <i class="pi pi-lock"></i>
      </span>
      <input type="password" pInputText formControlName="password" placeholder="Hasło">
    </div>
    <div class="mt-2">
      <p-checkbox formControlName="remember" [binary]="true" inputId="binary"></p-checkbox>
      <label for="binary" class="ml-2">Zapamiętaj mnie</label>
    </div>
    <p-button class="flex justify-content-end mt-2" type="submit" [disabled]="!loginForm.valid">Zaloguj się</p-button>
  </form>
</p-card>