<div class="grid p-fluid card">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="p-inputgroup col-12">
      <span class="p-inputgroup-addon">
        <i class="pi pi-envelope"></i>
      </span>
      <input type="text" pInputText formControlName="email" placeholder="Email">         
    </div>
    <div class="p-inputgroup col-12">
      <span class="p-inputgroup-addon">
        <i class="pi pi-lock"></i>
      </span>
      <!-- <input type="password" pInputText formControlName="password" placeholder="Hasło"> -->
      <p-password 
        styleClass="w-12 p-input-icon-right"
        inputStyleClass="w-12"
        formControlName="password"
        placeholder="Hasło"
        [toggleMask]="true"
        [feedback]="false"
      >
      </p-password>
    </div>
    <div class="col-12">
      <p-checkbox formControlName="remember" [binary]="true" inputId="binary"></p-checkbox>
      <label for="binary" class="ml-2">Zapamiętaj mnie</label>
    </div>
    <div class="col-12">
      <p-button type="submit" label="Zaloguj się" icon="pi pi-user" [disabled]="!loginForm.valid"></p-button>
    </div>
  </form>
</div>