<p-toolbar>
  <div class="p-toolbar-group-left">
      <p-button label="New" icon="pi pi-plus" class="mr-2"></p-button>
      <p-button label="Upload" icon="pi pi-upload" styleClass="p-button-success"></p-button>
          
      <i class="p-toolbar-separator pi pi-bars mr-2" style="vertical-align: middle"></i>
  </div>
  
  <div class="p-toolbar-group-right">
      <p-button icon="pi pi-moon" class="mr-2" (click)="switchTheme()"></p-button>
      <p-button icon="pi pi-calendar" styleClass="p-button-success mr-2"></p-button>
      <p-button icon="pi pi-times" styleClass="p-button-danger"></p-button>
  </div>
</p-toolbar>