<p-menubar [model]="menuItems" *ngIf="userLogged">
  <ng-template pTemplate="start">
    <a routerLink="/" routerLinkActive="active">
      <img src="../assets/logo.png" width="64"/>
    </a>
  </ng-template>
  <ng-template pTemplate="end" styleClass="w-5">
    <span class="p-input-icon-left w-12">
      <i class="pi pi-search"></i>
      <input type="text" pInputText class="w-12" placeholder="Wyszukaj ogłoszenie" [(ngModel)]="searchValue" (keydown)="onSearch($event)"/>
    </span>
  </ng-template>
</p-menubar>

<p-toast position="top-center"></p-toast>
<div class="flex justify-content-center align-items-center">
  <div *ngIf="!userLogged" class="flex flex-column align-items-center mr-8 ml-8">
    <img src="../assets/big_logo.png" width="512"/>
    <p-button label="Zarejestruj się" icon="pi pi-user-plus" class="w-full" styleClass="w-full" routerLink="/register"></p-button>
    <p-button label="Zaloguj się" icon="pi pi-user" class="w-full mt-4" styleClass="w-full" routerLink="/login"></p-button>
  </div>
  <router-outlet></router-outlet>
</div>

