<div *ngIf="meetingItem" class="grid">
  <div class="col-12 lg:col-9">
    <div class="col-12 container border-round">
      <h2>{{meetingItem.title}}</h2>
      <p>{{meetingItem.description}}</p>
    </div>
    <div class="col-12 mt-3 container border-round flex flex-row">
      <img [src]="meetingItem.game.thumbnail" alt="{{meetingItem.game.title}}" class="border-round">
      <h3>{{meetingItem.game.title}}</h3>
    </div>
  </div>
  <div class="col-12 lg:col-3">
    <div class="col-12 container border-round">
      <p>tekst 2</p>
      <p>tekst 2</p>
      <p>tekst 2</p>
      <p>tekst 2</p>
      <p>tekst 2</p>
      <p>tekst 2</p>
    </div>
  </div>
</div>