<div *ngIf="meetingItem" class="grid">
  <div class="col-12 lg:col-9">
    <div class="col-12 container border-round">
      <h2>{{meetingItem.title}}</h2>
      <p>{{meetingItem.description}}</p>
      <span class="flex align-items-center">
        <i class="pi pi-calendar mr-2"></i>
        <p>{{meetingDate}}</p>
      </span>
      <span class="flex align-items-center">
        <i class="pi pi-clock mr-2"></i>
        <p>{{meetingItem.startHour}} - {{meetingItem.endHour}}</p>
      </span>
    </div>
    <div class="col-12 mt-3 container border-round">
      <div *ngIf="meetingItem.isInPublicPlace==true else elseBlock">
        <h3>Bar planszówkowy</h3>
      </div>
      <ng-template #elseBlock>
        <h3>Dom</h3>
      </ng-template>
        <div>
          <p>Miasto: {{meetingItem.city}}</p>
          <p>Adres: {{meetingItem.address}}</p>
        </div>
    </div>
    <div class="col-12 mt-3 container border-round flex flex-row">
      <img [src]="meetingItem.game.thumbnail" alt="{{meetingItem.game.title}}" class="border-round">
      <div style="margin-left:30px">
        <h3><a [href]="'https://boardgamegeek.com/boardgame/' + meetingItem.game.id" target="_blank">{{meetingItem.game.title}}</a></h3>
        <p>Liczba graczy: {{meetingItem.game.minPlayers}} - {{meetingItem.game.maxPlayers}}</p>
        <p>Język gry: {{meetingItem.gameLanguage}}</p>
      </div>
    </div>
  </div>
  <div class="col-12 lg:col-3">
    <div *ngIf="!isOwner && !isAcceptedGuest" class="col-12">
      <button pButton type="button" label="Dołącz do spotkania" icon="pi pi-check" iconPos="left" class="col-12" (click)="joinMeeting()"></button>
    </div>
    <div *ngIf="isOwner && !isAcceptedGuest" class="col-12">
      <button pButton type="button" label="Usuń spotkanie" icon="pi pi-trash" iconPos="left" class="p-button-danger col-12" (click)="removeMeeting()"></button>
    </div>
    <div *ngIf="isOwner || isAcceptedGuest" class="col-12 border-round">
      <ng-container *ngFor="let guest of guests">
        <div class="grid">
          <div class="col-12 flex align-items-center">
            <p-avatar icon="pi pi-user" class="mr-2"></p-avatar>
            <div class="flex w-12">
              <p>{{guest.firstName}} {{guest.lastName}}</p>
            </div>
            <div class="flex w-12 justify-content-end">
              <p class="opacity-70">{{guest.user.isAccepted ? 'Gość zaakceptowany' : null}}</p>
            </div>
          </div>
          <ng-container *ngIf="isOwner && !guest.user.isAccepted">
            <div class="col-6 flex justify-content-center">
              <button pButton type="button" label="Zaakceptuj" icon="pi pi-check" iconPos="left" class="col-12" (click)="acceptGuest(guest)"></button>
            </div>
            <div class="col-6 flex">
              <button pButton type="button" label="Odrzuć" icon="pi pi-times" iconPos="left" class="p-button-danger col-12" (click)="declineGuest(guest)"></button>
            </div>
          </ng-container>
          <ng-container *ngIf="isOwner && guest.user.isAccepted">
            <div class="col-12 flex">
              <button pButton type="button" label="Odrzuć" icon="pi pi-times" iconPos="left" class="p-button-danger col-12" (click)="declineGuest(guest)"></button>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</div>