<div class="grid p-fluid card">
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <div class="flex direction-row">
      <div class="p-inputgroup col-7">
        <span class="p-inputgroup-addon">
          <i class="pi pi-user"></i>
        </span>
        <input type="text" pInputText formControlName="firstName" placeholder="Imię">
      </div>
      <span class="col-5">
        <input type="text" pInputText formControlName="lastName" placeholder="Nazwisko">
      </span>
    </div>
    <div class="p-inputgroup col-12">
      <span class="p-inputgroup-addon">
        <i class="pi pi-envelope"></i>
      </span>
      <input type="text" pInputText formControlName="email" placeholder="Email">
    </div>
    <div class="p-inputgroup col-12">
      <span class="p-inputgroup-addon">
        <i class="pi pi-lock"></i>
      </span>
      <p-password 
        styleClass="w-12 p-input-icon-right"
        inputStyleClass="w-12"
        formControlName="password"
        placeholder="Hasło"
        [toggleMask]="true"
        promptLabel="Wprowadź hasło"
        weakLabel="Słabe"
        mediumLabel="Średnie"
        strongLabel="Mocne :)"
      >
        <ng-template pTemplate="header">
          <h3>Siła hasła</h3>
        </ng-template>
        <ng-template pTemplate="footer">
            <p-divider></p-divider>
            <p class="mt-2">Sugestie</p>
            <ul class="pl-2 ml-2 mt-0">
                <li>Co najmniej jedna mała litera</li>
                <li>Co najmniej jedna duża litera</li>
                <li>Co najmniej jedna liczba</li>
                <li>Co najmniej 8 znaków</li>
            </ul>
        </ng-template>
      </p-password>
    </div>
    <div class="p-inputgroup col-12">
      <span class="p-inputgroup-addon">
        <i class="pi pi-calendar"></i>
      </span>
      <p-calendar [showIcon]="false" formControlName="dob" placeholder="Data urodzenia"></p-calendar>
    </div>
    <div class="p-inputgroup col-12">
      <span class="p-inputgroup-addon">
        <i class="pi pi-map-marker"></i>
      </span>
      <input type="text" pInputText formControlName="city" placeholder="Miasto">
    </div>
    <div class="col-12">
      <p-button type="submit" label="Zarejestruj się" icon="pi pi-user-plus" [disabled]="!registerForm.valid"></p-button>
    </div>
  </form>
</div>